@font-face {
    font-family: 'Clash Display';
    src: url('../../webfonts/clash-display/ClashDisplay-Regular.woff2') format('woff2'),
         url('../../webfonts/clash-display/ClashDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Display';
    src: url('../../webfonts/clash-display/ClashDisplay-Medium.woff2') format('woff2'),
         url('../../webfonts/clash-display/ClashDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
:root{
    --font-global: 'Roboto', sans-serif;
    --font-alt: 'Clash Display', sans-serif;
    --section-padding-y: 160px;
    --color-dark-1: #111;
    --color-dark-2: #222;
    --color-dark-3: #2a2a2a;
    --color-dark-3a: #373737;;
    --color-gray-1: #777;
    --border-radius-default: 0;
    --border-radius-large: 0;
}
body{
    letter-spacing: 0;
}
.inner-nav ul{
    font-size: 17px;
    line-height: 1.6; 
    font-weight: 400;
    letter-spacing: 0;
}
.inner-nav > ul > li > a{
    opacity: .78;     
}
.inner-nav ul li a{
    position: relative;
}
.inner-nav > ul > li > a:not(.no-hover):before{
    content: "";
    position: absolute;
    top: calc(50% + 0.7em);
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .27s var(--ease-default);
}
.inner-nav > ul > li > a.active:before{
    transform: scaleX(1);
}
.main-nav.mobile-on .inner-nav > ul > li > a:not(.no-hover):before{
    display: none;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select{
    padding-bottom: 1px;
}
.form input[type="text"].input-sm,
.form input[type="email"].input-sm,
.form input[type="number"].input-sm,
.form input[type="url"].input-sm,
.form input[type="search"].input-sm,
.form input[type="tel"].input-sm,
.form input[type="password"].input-sm,
.form input[type="date"].input-sm,
.form input[type="color"].input-sm,
.form select.input-sm,
.form textarea.input-sm{
    font-size: 16px;
}
.form input[type="text"].input-md,
.form input[type="email"].input-md,
.form input[type="number"].input-md,
.form input[type="url"].input-md,
.form input[type="search"].input-md,
.form input[type="tel"].input-md,
.form input[type="password"].input-md,
.form input[type="date"].input-md,
.form input[type="color"].input-md,
.form select.input-md,
.form textarea.input-md{
    font-size: 17px;
}
.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form input[type="number"]::placeholder,
.form input[type="url"]::placeholder,
.form input[type="search"]::placeholder,
.form input[type="tel"]::placeholder,
.form input[type="password"]::placeholder,
.form input[type="date"]::placeholder,
.form input[type="color"]::placeholder,
.form select::placeholder,
.form textarea::placeholder{
    color: #999;
}
.form label{
    margin-bottom: 14px;
    font-family: var(--font-alt);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.form .form-group{
    margin-bottom: 45px;
}
.form-tip,
.form-tip a{
    font-size: 13px;
}
.btn-mod,
a.btn-mod{
    font-size: 17px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}
.btn-mod .icon{
    margin-left: 2px;
}
.btn-mod.btn-small{
    padding: 4px 14px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
}
.btn-mod.btn-medium{
    padding: 12px 26px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.007em;
} 
.btn-mod.btn-large{
    padding: 15px 32px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.007em;
} 
.btn-mod.btn-ellipse{
    font-family: var(--font-alt);
    letter-spacing: 0.14em;
}
.btn-border,
.btn-border-w,
.btn-border-c{
    border-width: 2px !important;
}
hr{
    opacity: .2;
}
.hs-title-1{
    letter-spacing: -0.0125em;
}
.hs-title-12{
    letter-spacing: -0.0125em;
}
.hs-title-13{
    letter-spacing: -0.0125em;
}
.section-title-small{
    font-size: 32px;
}
.section-title-tiny{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.section-title-inline{
    padding-top: 3px;
    font-family: var(--font-alt);
    letter-spacing: 0.15em;
}
.link-strong{
    font-family: var(--font-alt);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.marquee-style-2{
    font-family: var(--font-alt);
    letter-spacing: 0.15em;
}
.accordion-1,
.accordion-1 > dt > a{
    border-width: 2px;
}
.accordion-1 > dt{
    font-family: var(--font-alt);
    letter-spacing: 0.08em;
}
.steps-1-title{
    font-family: var(--font-alt);
    letter-spacing: 0;
}
.number-2-title{
    margin-bottom: 5px;
    font-family: var(--font-alt);
    letter-spacing: -0.025em;
}
.portfolio-2-title{
    letter-spacing: -0.008em;
}
.testimonials-slider-2 blockquote p{
    font-family: var(--font-alt);
    letter-spacing: 0.01em;
}
.ts2-author{
    font-family: var(--font-alt);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.ts2-author .small{
    font-family: var(--font-global);
    text-transform: none;
    letter-spacing: 0;
}
.post-prev-2-title{
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.5;
}
.post-prev-2-info{
    font-size: 16px;
    text-transform: unset;
    letter-spacing: 0;
}
.pagination a,
.pagination span{
    font-weight: 400;
}
.form-tip{
    font-size: 14px;
    line-height: 1.714;
}
.footer-1{
    font-family: var(--font-alt);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}
.fw-social-inline .link-strong:before{
    display: none;
}
.light-content .fw-top-link .icon{
    width: 38px;
    height: 38px;
    border-width: 2px;
}
.footer-text{
    font-family: var(--font-global);
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: -0.01em;
}
.footer-text a{
    color: inherit;
    text-decoration: underline;
}
.footer-text .small{
    font-size: 14px;
}
.light-content .footer-text{
    color: var(--color-gray-3);
}
.fw-top-link-underline:before{
    height: 2px;
    opacity: 1;
}
.features-2-item:before{
    border: 1px solid var(--color-dark-1);
	background:	none;
    opacity: 0.15;
    transition: opacity .27s var(--ease-default);
    z-index: -1;
}
.features-2-item:hover:before{
    opacity: 1;
}
.features-2-label{
    font-weight: 500;
    color: var(--color-dark-1);
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}
.features-2-icon:before{
    background: var(--color-gray-light-1);
    opacity: 1;
    z-index: -1;
}
.features-2-icon svg{
    fill: var(--color-dark-1);
}
.light-content .features-2-item:before{    
	background: var(--color-dark-mode-gray-2);
    border: 1px solid var(--color-dark-mode-gray-2);
    transition: border-color .27s var(--ease-default);
    opacity: 1;
    z-index: -1;
}
.light-content .features-2-item:hover:before{
    background: var(--color-dark-mode-gray-2);
    opacity: 1;
}
.light-content .features-2-label{
    color: #fff;
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}
.light-content. features-2-icon{
    color: #fff;
}
.light-content .features-2-icon svg{
    fill: #fff;
}
.light-content .features-2-icon:before{
    background: var(--color-dark-mode-gray-2);
    opacity: 1;
    z-index: -1;
}
.light-content .features-2-descr{
    color: var(--color-dark-mode-gray-1);
}
.bg-border-gradient:before{
    background: none;
    border: 1px solid var(--color-dark-1);
    opacity: 0.15;
}
.light-content .bg-border-gradient:before{
    background: none;
    border: 1px solid #fff;
    opacity: 0.25;
}
.bg-gradient-dark-alpha-1:before{
    opacity: .9;
}
.bg-gradient-dark-alpha-2:before{
    opacity: .9;
}
.work-navigation a, .work-navigation a:visited{
    color: var(--color-dark-1);
}
@media only screen and (max-width: 1366px) {
    .section-title-small{
        font-size: calc(1.159rem + 0.98vw);
    }
    .post-prev-2-title{
        font-size: calc(1.135rem + 0.57vw);
    }
}