@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../webfonts/clash-grotesk/ClashGrotesk-Regular.woff2') format('woff2'),
         url('../../webfonts/clash-grotesk/ClashGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../webfonts/clash-grotesk/ClashGrotesk-Medium.woff2') format('woff2'),
         url('../../webfonts/clash-grotesk/ClashGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
:root{
    --font-global: 'Inter', sans-serif;
    --font-alt: 'Clash Grotesk', sans-serif;
    --container-width: 1420px;
    --section-padding-y: 180px;
    --color-dark-1: #010101;
    --color-gray-light-1: #f5f5f5;
    --color-gray-light-2: #f7f7f7;
    --border-radius-default: 20px;
}
.dark-mode{
    --color-dark-1: #090909;
    --color-dark-2: #131313;
}
body{
    letter-spacing: 0;
}
.inner-nav ul{
    font-size: 15px;
    line-height: 1.6; 
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}
.inner-nav ul li {
    margin-left: 22px;
    margin-right: 22px;
}
.inner-nav > ul > li > a{ 
    position: relative;
    opacity: 1;     
}
.inner-nav > ul > li > a:not(.no-hover):before{
    content: "";
    position: absolute;
    top: calc(50% - 0.5em);
    right: -0.5em;
    display: block;
    width: 3px;
    height: 3px;
    background: currentColor;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: var(--transition-default);
}
.inner-nav ul li a:hover:before,
.inner-nav ul li a.active:before{
    opacity: 1;
    transform: scale(1);
}
.hs-title-6{
    letter-spacing: 0.07em;
}
.btn-mod.btn-border{
    border-width: 1px;
}
.mark-decoration-6{
    border-radius: 7px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select{
    padding-bottom: 0;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select,
.form textarea{    
    color: var(--color-dark-1);
    font-family: var(--font-alt);
    font-weight: 400;    
    letter-spacing: 0.02em;
    background: transparent;
    border-color: var(--color-dark-1);
}
.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form input[type="number"]:hover,
.form input[type="url"]:hover,
.form input[type="search"]:hover,
.form input[type="tel"]:hover,
.form input[type="password"]:hover,
.form input[type="date"]:hover,
.form input[type="color"]:hover,
.form select:hover,
.form textarea:hover{
    border-color: var(--color-dark-1);
}
.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form input[type="number"]::placeholder,
.form input[type="url"]::placeholder,
.form input[type="search"]::placeholder,
.form input[type="tel"]::placeholder,
.form input[type="password"]::placeholder,
.form input[type="date"]::placeholder,
.form input[type="color"]::placeholder,
.form select::placeholder,
.form textarea::placeholder{
    color: var(--color-dark-1);
    text-transform: uppercase;
}
.form input[type="text"]:hover::placeholder,
.form input[type="email"]:hover::placeholder,
.form input[type="number"]:hover::placeholder,
.form input[type="url"]:hover::placeholder,
.form input[type="search"]:hover::placeholder,
.form input[type="tel"]:hover::placeholder,
.form input[type="password"]:hover::placeholder,
.form input[type="date"]:hover::placeholder,
.form input[type="color"]:hover::placeholder,
.form select:hover::placeholder,
.form textarea:hover::placeholder{
    color: var(--color-dark-1);
}
.form input[type="text"].input-lg,
.form input[type="email"].input-lg,
.form input[type="number"].input-lg,
.form input[type="url"].input-lg,
.form input[type="search"].input-lg,
.form input[type="tel"].input-lg,
.form input[type="password"].input-lg,
.form input[type="date"].input-lg,
.form input[type="color"].input-lg,
.form select.input-lg{
    height: 62px;
}
.form input[type="text"].input-lg,
.form input[type="email"].input-lg,
.form input[type="number"].input-lg,
.form input[type="url"].input-lg,
.form input[type="search"].input-lg,
.form input[type="tel"].input-lg,
.form input[type="password"].input-lg,
.form input[type="date"].input-lg,
.form input[type="color"].input-lg,
.form select.input-lg,
.form textarea.input-lg{
    font-size: 30px;
}
.form input[type="text"].input-md,
.form input[type="email"].input-md,
.form input[type="number"].input-md,
.form input[type="url"].input-md,
.form input[type="search"].input-md,
.form input[type="tel"].input-md,
.form input[type="password"].input-md,
.form input[type="date"].input-md,
.form input[type="color"].input-md,
.form select.input-md,
.form textarea.input-md{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 22px;
    letter-spacing: 0.02em;
}
.form input[type="text"].input-md,
.form input[type="email"].input-md,
.form input[type="number"].input-md,
.form input[type="url"].input-md,
.form input[type="search"].input-md,
.form input[type="tel"].input-md,
.form input[type="password"].input-md,
.form input[type="date"].input-md,
.form input[type="color"].input-md,
.form select.input-lg{
    height: 52px;
}
.form input.input-circle,
.form select.input-circle,
.form textarea.input-circle{
    border-radius: 33px;
}
.light-content input[type="text"],
.light-content input[type="email"],
.light-content input[type="number"],
.light-content input[type="url"],
.light-content input[type="search"],
.light-content input[type="tel"],
.light-content input[type="password"],
.light-content input[type="date"],
.light-content input[type="color"],
.light-content select,
.light-content textarea,
.light-content input[type="text"]:hover,
.light-content input[type="email"]:hover,
.light-content input[type="number"]:hover,
.light-content input[type="url"]:hover,
.light-content input[type="search"]:hover,
.light-content input[type="tel"]:hover,
.light-content input[type="password"]:hover,
.light-content input[type="date"]:hover,
.light-content input[type="color"]:hover,
.light-content select:hover,
.light-content textarea:hover,
.light-content input[type="text"]:focus,
.light-content input[type="email"]:focus,
.light-content input[type="number"]:focus,
.light-content input[type="url"]:focus,
.light-content input[type="search"]:focus,
.light-content input[type="tel"]:focus,
.light-content input[type="password"]:focus,
.light-content input[type="date"]:focus,
.light-content input[type="color"]:focus,
.light-content select:focus,
.light-content textarea:focus{
    color: #fff;
    border-color: #fff;
}
.light-content .form input[type="text"]::placeholder,
.light-content .form input[type="email"]::placeholder,
.light-content .form input[type="number"]::placeholder,
.light-content .form input[type="url"]::placeholder,
.light-content .form input[type="search"]::placeholder,
.light-content .form input[type="tel"]::placeholder,
.light-content .form input[type="password"]::placeholder,
.light-content .form input[type="date"]::placeholder,
.light-content .form input[type="color"]::placeholder,
.light-content .form select::placeholder,
.light-content .form textarea::placeholder,
.light-content .form input[type="text"]:hover::placeholder,
.light-content .form input[type="email"]:hover::placeholder,
.light-content .form input[type="number"]:hover::placeholder,
.light-content .form input[type="url"]:hover::placeholder,
.light-content .form input[type="search"]:hover::placeholder,
.light-content .form input[type="tel"]:hover::placeholder,
.light-content .form input[type="password"]:hover::placeholder,
.light-content .form input[type="date"]:hover::placeholder,
.light-content .form input[type="color"]:hover::placeholder,
.light-content .form select:hover::placeholder,
.light-content .form textarea:hover::placeholder{
    color: #fff;
}
.search-button{
    color: var(--color-dark-1);
}
.btn-mod.btn-small,
.btn-mod.btn-medium,
.btn-mod.btn-large{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.01em;    
}
.btn-mod.btn-small{
    padding: 6px 14px;
    line-height: 1.4;
}
.btn-mod.btn-medium{
    font-size: 18px;
    padding: 10px 20px;
}
.btn-mod.btn-large{
    font-size: 18px;
    padding: 15px 28px;
}
.accordion-1.accordion-1-slick > dt{
    font-family: var(--font-alt);
    letter-spacing: 0.08em;
}
.section-title-large{
    line-height: 1;
    letter-spacing: 0.017em;
}
.section-title-tiny{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.466;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.section-caption{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.section-descr{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.466;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.section-descr .text-link{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;  
    opacity: 1;
}
.section-descr .text-link:after{
    bottom: 3px;
}
.link-hover-anim{
    top: -1px;
    font-size: 15px;    
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}
.form-tip,
.form-tip a{
    font-size: 13px;
}
.footer-1{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.fw-social-inline .link-hover-anim{
    font-size: 16px;
}
.fw-social-inline .link-hover-anim .link-strong{
    letter-spacing: 0.03em;
}
.fw-social-inline .link-strong:before{
    display: none;
}
.footer-text{
    font-family: var(--font-global);
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: -0.01em;
}
.footer-text a{
    color: inherit;
    text-decoration: underline;
}
.footer-text .small{
    font-size: 14px;
}
.features-2-item:before{
    border: 1px solid var(--color-dark-1);
	background:	none;
    opacity: 0.15;
    transition: opacity .27s var(--ease-default);
    z-index: -1;
}
.features-2-item:hover:before{
    opacity: 1;
}
.features-2-label{
    font-weight: 500;
    color: var(--color-dark-1);
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}
.features-2-icon:before{
    background: var(--color-gray-light-1);
    opacity: 1;
    z-index: -1;
}
.features-2-icon svg{
    fill: var(--color-dark-1);
}
.light-content .features-2-item:before{    
	background: var(--color-dark-mode-gray-2);
    border: 1px solid var(--color-dark-mode-gray-2);
    transition: border-color .27s var(--ease-default);
    opacity: 1;
    z-index: -1;
}
.light-content .features-2-item:hover:before{
    background: var(--color-dark-mode-gray-2);
    opacity: 1;
}
.light-content .features-2-label{
    color: #fff;
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}
.light-content. features-2-icon{
    color: #fff;
}
.light-content .features-2-icon svg{
    fill: #fff;
}
.light-content .features-2-icon:before{
    background: var(--color-dark-mode-gray-2);
    opacity: 1;
    z-index: -1;
}
.light-content .features-2-descr{
    color: var(--color-dark-mode-gray-1);
}
.bg-border-gradient:before{
    background: none;
    border: 1px solid var(--color-dark-1);
    opacity: 0.15;
}
.light-content .bg-border-gradient:before{
    background: none;
    border: 1px solid #fff;
    opacity: 0.25;
}
.bg-gradient-dark-alpha-1:before{
    opacity: .9;
}
.bg-gradient-dark-alpha-2:before{
    opacity: .9;
}
.testimonials-slider-2 blockquote p {
    font-family: var(--font-alt);
    font-weight: 400;
    letter-spacing: 0;
}
.pagination a,
.pagination span{
    font-weight: 400;
    border-radius: 0;
}
.blog-item-body{
    letter-spacing: -0.012em;
}
.work-navigation a, .work-navigation a:visited{
    color: var(--color-dark-1);
}
@media only screen and (min-width: 1441px) {
    :root{
        --container-width: 1360px;
    }
}
@media only screen and (min-width: 1681px) {
    :root{
        --container-width: 1500px;
    }
}
@media only screen and (max-width: 1440px) {    
    :root{
        --section-padding-y: 150px;
    }    
}
@media only screen and (max-width: 1366px) {
    .container{
        max-width: var(--container-width);
    }
   .inner-nav ul li{
        margin-left: 18px;
        margin-right: 18px;
    }
    .form input[type="text"].input-lg,
    .form input[type="email"].input-lg,
    .form input[type="number"].input-lg,
    .form input[type="url"].input-lg,
    .form input[type="search"].input-lg,
    .form input[type="tel"].input-lg,
    .form input[type="password"].input-lg,
    .form input[type="date"].input-lg,
    .form input[type="color"].input-lg,
    .form select.input-lg,
    .form textarea.input-lg{
        font-size: calc(1.263rem + 0.72vw);
    }
}
@media only screen and (max-width: 1200px) {
    .inner-nav ul li{
        margin-left: 13px;
        margin-right: 13px;
    }
}
@media only screen and (max-width: 575px) {
    .form input[type="text"].input-lg,
    .form input[type="email"].input-lg,
    .form input[type="number"].input-lg,
    .form input[type="url"].input-lg,
    .form input[type="search"].input-lg,
    .form input[type="tel"].input-lg,
    .form input[type="password"].input-lg,
    .form input[type="date"].input-lg,
    .form input[type="color"].input-lg,
    .form select.input-lg,
    .form textarea.input-lg{
        padding-left: 15px;
        padding-right: 15px;
    }
}
